name: 'Build and Release'

on:
    push:
      tags:
        - "v*.*.*"

jobs:
    build:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v4
        - name: Set up JDK
          uses: actions/setup-java@v3
          with:
            java-version: '21'
            distribution: 'temurin'
        - name: Build
          run: >-
            mvn -B install --file metadata-oas/pom.xml
            mvn -B install --file metadata-modelapi/pom.xml
            mvn -B install --file metadata-interfaceapi/pom.xml
            mvn -B -Pnative package --file metadata-webimpl/pom.xml
        - name: Release
          uses: softprops/action-gh-release@v2
          with:
            files: metadata-webimpl/target/metadata.jar
