name: 'Build and Release'

permissions:
  contents: write

on:
    push:
      tags:
        - "v*.*.*"

jobs:
    build:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v4
        - name: Set up JDK
          uses: actions/setup-java@v3
          with:
            java-version: '21'
            distribution: 'temurin'
        - name: Build
          run: |
            mvn -B install && mvn -B clean --file metadata-webimpl/pom.xml && mvn -B -Pnative package --file metadata-webimpl/pom.xml
            mvn -B org.cyclonedx:cyclonedx-maven-plugin:makeAggregateBom --file metadata-webimpl/pom.xml
            ls metadata-webimpl/target
        - name: Release
          uses: softprops/action-gh-release@v2
          with:
            files: |
              metadata-webimpl/target/metadata.jar
              metadata-webimpl/target/bom.json
